/* GREEN PROMO */ 
.greenpromo {
	color: $white;
	background: $green-light;
	padding-top: 115px;
	padding-bottom: 145px;
	@media screen and (max-width: 768px) {
		padding-bottom: 110px;
	}
	@media screen and (max-width: 580px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
.greenpromo__title {
	color: $white;
}
.greenpromo__widget {
	line-height: 1.500em;
	span {
		font-size: 0.813em;
		font-weight: $medium;
	}
	p {
		font-size: 0.875em;
	}
}