.top-panel__wrap,
.promo-box,
.top-info__box,
.widget-box,
.privilege-box,
.morepower-box,
.greenpromo-box,
.plan-box,
.footer-box__top,
.footer-box__bottom {
	@include container();
	margin-left: gutter();
	margin-right: gutter();
}

.promo__wrap {
	@include span(5);
}
.top-info__block {
	@include span(6);
	&--last {
		@include span(6 last);
	}
}
.widget__normal {
	@include span(4 wide);
	margin-right: 0;
}
.widget__last {
	@include span(4 last);
}
.widget__double {
	@include span(8 wide);
	margin-right: 0;
}
.privilege-widget {
	@include span(3);
	&:last-child {
		@include span(3 last);
	} 
}
.morepower-wrapper {
	@include span(5 wide);
}
.greenpromo__widget {
	@include span(4);
	&:last-child {
		@include span(4 last);
	}
}
.plan-widget {
	@include span(6);
	&:last-child {
		@include span(6 last);
	}
}
.footer-info {
	@include span(7);
}
.footer-subscr {
	@include span(5 last);
}
.footer-menu {
	@include span(2);
}