/* Сетка */ 
.top-panel__wrap,
.promo-box,
.top-info__box,
.widget-box,
.privilege-box,
.morepower-box,
.greenpromo-box,
.plan-box,
.footer-box__top,
.footer-box__bottom {
	@include container();
	margin-left: gutter();
	margin-right: gutter();
}

.promo__wrap {
	@include span(5);
	@media screen and (max-width: 580px) {
		@include span(6);
	}
	@media screen and (max-width: 414px) {
		@include span(12);
	}
}
.top-info__block {
	@include span(6);
	&--last {
		@include span(6 last);
	}
	@media screen and (max-width: 580px) {
		@include span(12);
	}
}
.widget__normal {
	@include span(4 wide);
	margin-right: 0;
}
.widget__last {
	@include span(4 last);
}
.widget__double {
	@include span(8 wide);
	margin-right: 0;
}
.widget__normal,
.widget__last,
.widget__double {
	@media screen and (max-width: 670px) {
		@include span(12);
	}
}

.privilege-widget {
	@include span(3);
	&:last-child {
		@include span(3 last);
	} 
	@media screen and (max-width: 670px) {
		@include span(6);
		&:nth-child(2),
		&:last-child {
			@include span(6 last);
		}
	}
	@media screen and (max-width: 580px) {
		@include span(12);
		&:nth-child(2),
		&:last-child {
			@include span(12);
		}
	}
}
.morepower-wrapper {
	@include span(5 wide);
	@media screen and (max-width: 786px) {
		@include span(8 wide);
	}
	@media screen and (max-width: 580px) {
		@include span(12);
	}
}
.greenpromo__widget {
	@include span(4);
	&:last-child {
		@include span(4 last);
	}
	@media screen and (max-width: 580px) {
		@include span(12);
		&:last-child {
			@include span(12);
		}
	}
}
.plan-widget {
	@include span(6);
	&:last-child {
		@include span(6 last);
	}
	@media screen and (max-width: 580px) {
		@include span(12);
		&:last-child {
			@include span(12);
		}
	}
}
.footer-info {
	@include span(7);
}
.footer-subscr {
	@include span(5 last);
}
.footer-info,
.footer-subscr {
	@media screen and (max-width: 580px) {
		@include span(12);
	}
}
.footer-menu {
	@include span(2);
	@media screen and (max-width: 580px) {
		@include span(4);
		&:last-child {
			@include span(4 last);
		}
	}
}