body {
	color: $gray;
	font-family: $font-main;
	min-width: 320px;
	position: relative;
}
.header {
	color: $white;
	background: transparent url('../img/head-bg.jpg') center top no-repeat;
	background-size: cover;
	height: 951px;
	padding-top: 30px;
}
.top-panel__wrap {
	margin-bottom: 350px;
}
.logo {}
.main-menu {
	float: right;
}
.main-menu__list {

	margin: 0;
	padding: 0;
}
.main-menu__item {
	list-style-type: none;
	float: left;
	padding-top: 10px;
	margin-left: 20px;
}
.main-menu__link {
	text-decoration: none;
	color: $white;
	font-weight: 600;
	font-size: 1.125em;
	&:hover {
		text-decoration: underline;
		color: $pink;
	}
}
.promo-text__wrap{}
.promo-title {
	font-size: 3.750em;
	font-weight: $light;
}
.promo-text {
	font-size: 0.813em;
	line-height: 1.563em;
}

.top-info {
	padding-top: 110px;
	padding-bottom: 160px;
}
.top-info__block {
	p {
		font-size: 0.875em;
		line-height: 1.500em;
		font-weight: $normal;
		color: $gray;
		margin-bottom: 20px;
	}
}
.top-info__title {
	font-size: 2.188em;
	line-height: 1.500em;
	font-weight: $light;
	color: $black;
}
.top-info__box {
	margin-bottom: 65px;
}
.top-info__block--last {}
.iphone {
	position: absolute;
	top: 311px;
	right: 95px;
	z-index: 999;
	max-width: 100%;
	height: auto;
}
.margin-wrap {
	padding-top: 135px;
}