$font-main: 'Open Sans', sans-serif;
$font-icon: 'FontAwesome';

// TEXT
$white:   #fff;
$black:   #222626;
$gray:    #959595;
$blue-57: #57697f;


// BG
$pink:            #f5989d;
$sireneviy:       #615f7d;
$green-light:     #82ca9c;
$grey-f6:         #f6f7fa;
$grey-e1:         #e1e1e1;
$grey-c5:         #c5c5c5;
$sireneviy-light: #bd8cbf;
$dark-blue:       #192431;
