.widget-box {
	color: $white;
	margin-bottom: 90px;
}
.color {
	&__rose {
		background: $pink;
	}
	&__sireneviy {
		background: $sireneviy;
	}
	&__green {
		background: $green-light;
	}
}
.widget__img {
	background: transparent url('../img/slide_short.jpg') center top no-repeat;
	background-size: cover;
	&--x {
		background: transparent url('../img/slide_long.jpg') center top no-repeat;
		background-size: cover;
	}
}
.widget__normal,
.widget__double {
	padding: 50px 45px;
	height: 243px;
	position: relative;
}
.widget__last {
	// padding-bottom: 32px;
}
.widget__title {
	font-size: 1.875em;
	font-weight: $light;
}
.widget__text {
	font-size: 0.813em;
	line-height: 1.500em;
	margin-bottom: 16px;
}
.widget__link {
	font-size: 0.875em;
	line-height: 1.500em;
	text-decoration: none;
	color: $white;
	font-weight: $bold;
	&:hover {
		text-decoration: underline;
	}
}
.widget__double {
	.widget__text {
		margin-bottom: 35px;
	}
}
.like {
	font-weight: &light;
	position: absolute;
	bottom: 40px;
	right: 40px;
}