@import "app/libs/susy/sass/susy"; //Susy

$susy: (
	columns: 12,
	gutters: .428,
	container: 1170px,
	global-box-sizing: border-box,
	debug: (image: show)
);

@include border-box-sizing;

@import "variabless.scss";
@import "mixin.scss";
@import "grid.scss";
@import "header.scss";